@import "tailwindcss";

/* ====== Gilroy Font Setup ====== */
@font-face {
  font-family: "Gilroy";
  src: url("/font/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/font/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/font/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: url('/font/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'Gilroy';
  src: url('/font/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* You can add Light / Medium / SemiBold too if you have them */

/* ====== Tailwind @theme config ====== */
@theme {
  --font-gilroy: "Gilroy", sans-serif;
}




/* Hide scrollbar arrows in Safari/iOS */
.custom-scroll {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #c1c1c1 transparent; 
}

/* For WebKit (Chrome, Safari, Edge) */
.custom-scroll::-webkit-scrollbar {
  width: 6px; /* Slim scrollbar */
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-button {
  display: none; /* Removes up/down arrows */
}

